.product-card
{
    width: 250px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0,0,0.3);
    background-color: #fff;
}

.image-size
{
    width:auto;
    height: 150px;
    display: block;
    margin: 10px auto;
}

.btn-buy-now
{
  background-color: #000;
  color: #fff;
  display: block;
  margin: 10px auto;
  font-size: 20px;
  padding: 5px 20px;  
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  width: 85px;
}

.btn-buy-now:hover
{
  background-color:#944f4f;
  color: #000000;
}