.Nav-container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: right;
    background-color: #5a3232;
    padding: 10px;
  
}

.title
{
  justify-content: left;
}

.links
{
    margin: 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
   
}

#nav2
{
  position: sticky;
  top: 0px;
}

